<div class="container">
<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>
 
<p>
  <strong>Post:</strong>
  <%= @post.body %>
</p>
<% if can? :destroy,@post %>
<button class='btn btn-secondary'><%= link_to 'Destroy', post_path(@post),method: :delete, data: { confirm: 'Are you sure?' } %></button>
<%end%>
</div>


<div class='container'>
  <div>
<h3>Comments </h3>
<% @post.comments.each do|comment|%>
<p>
<%= comment.user.email %><br>
<%= comment.body%>
</p>
<%end%>
</div>

<h5>Add comments</h5>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <%= form.hidden_field :user_id, :value=>current_user.id%>
  <%= form.hidden_field :post_id, :value=>@post.id%>
  <div class="form-group">
  <p>
    
    <%= form.text_area :body %>
  </p>
</div>
<div class="form-group">
  <p>
    <%= form.submit  :class => 'btn btn-secondary'%>
  </p>
</div>
<% end %>
<%=link_to 'Back',posts_path%>
</div>